<section class="homepage">
  <h1 class="homepage__title">Welcome to EaseSell!</h1>
  <article class="homepage__content">
    <div class="homepage__image-container">
      <img class="homepage__image" src="../../../../assets/truqe.png" alt="EaseSell">
    </div>
    <p class="homepage__description">
      Welcome to EaseSell, where buying and selling online has never been easier. Explore a curated selection of tech, fashion, home goods, and more, all in one convenient marketplace. Browse through our diverse categories to find exactly what you're looking for, from the latest gadgets to trendy fashion finds, all handpicked for quality and variety. Selling is effortless on EaseSell - list your items quickly with detailed photos and descriptions, reaching thousands of potential buyers with just a few clicks. Shop confidently with our secure payment system and user ratings, ensuring safe and transparent transactions. Connect with like-minded buyers and sellers through our integrated chat feature, making negotiations smooth and transactions.
    </p>
  </article>
  <button (click)="goToExplore()" class="homepage__button">Start exploring</button>
</section>
