
<footer class="footer">
  <a href="#" class="footerFacebook"><img src="../../../../assets/facebook.png" alt="Logo de facebook" class="FacebookLogo"></a>
  <a href="#" class="footerInstagram"><img src="../../../assets/instagram.png" alt="Logo de instagram" class="InstagramLogo"></a>
  <a href="#" class="footerX"><img src="../../../assets/gorjeo.png" alt="Logo de x" class="XLogo"></a>
  <a href="#" class="footerYoutube"><img src="../../../assets/youtube.png" alt="Logo de youtube" class="YoutubeLogo"></a>
  <div class="footer__copyright">
    <p  class="footer__copyright_p">
      © 2024 EaseSell. All rights reserved.
    </p>
  </div>
</footer>
