<section class="chat-container">
  <section *ngIf="chats.length === 0" class="chat-container__empty-state">
    <p class="empty-state__message">No hay chats disponibles.</p>
  </section>
  <section class="chat-container__chats-list">
    <article *ngFor="let chat of chats" class="chat-item" (click)="navigateToMessages(chat.id, getOtherUserName(chat), getUserLogoPath(getOtherUser(chat)))">
      <img [src]="getUserLogoPath(getOtherUser(chat))" class="chat-item__img">
      <div class="chat-item__details">
        <h3 class="chat-item__username">{{ getOtherUserName(chat) }}</h3>
        <p class="chat-item__last-message">{{ chat.last_message ? chat.last_message.content : 'No hay mensajes' }}</p>
      </div>
    </article>
  </section>
</section>
