.chat-container {
  text-align: center;
  min-height: 70vh;
}

.chat-container__chats-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.chat-item {
  width: 90%;
  height: 50px;
  background-color: #276E90;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat-item__img {
  height: 55px;
  width: 55px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 50%;
}

.chat-item__details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-item__username {
  margin: 0;
  text-align: left;
  font-size: 25px;
  margin-left: 10px;
}

.chat-item__last-message {
  margin: 0;
  text-align: right;
  font-size: 15px;
}

@media only screen and (max-width: 700px) {
  .chat-item__username {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .chat-item__last-message {
    display: none;
  }
}
