.chat-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 62vh;
}

.chat-title {
  width: 80%;
  height: 50px;
  background-color: #276E90;
  border-radius: 5px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 0;
}

.chat-container__no-messages {
  color: #999;
}

.message-container {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 80%;
  min-height: 40vh;
}

.message-container__message-item {
  margin-bottom: 10px;
  border-radius: 10px;
}

.message-container__message-text {
  padding: 5px;
  border-radius: 10px;
  max-width: 500px;
  word-wrap: break-word;
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-message {
  align-self: flex-end;
  background-color: #276E90;
  color: white;
}

.other-message {
  align-self: flex-start;
  background-color: #f2f2f2;
  color: black;
}

.chat-container__message-form {
  margin-top: 20px;
}

.chat-container__form-group {
  margin-bottom: 20px;
}

.chat-container__input-with-button {
  display: flex;
  width: 82%;
}

.chat-container__form-control {
  flex: 1;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
}

.chat-container__btn-primary {
  background-color: #276E90;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.chat-container__btn-primary:hover {
  background-color: #205D7A;
}

.chat-container__btn-primary:active {
  background-color: #184655;
}

.chat-title__img {
  height: 55px;
  width: 55px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .chat-title {
    font-size: 15px;
  }
}
