<section class="chat-container">
  <header class="chat-container__header">
    <h2 class="chat-title">
      <img [src]="chatPhotoUrl" class="chat-title__img">
      {{ chatName }}
    </h2>
  </header>
  <div *ngIf="messages.length === 0" class="chat-container__no-messages">
    <p>No hay mensajes disponibles.</p>
  </div>
  <div class="message-container" #messageContainer>
    <article *ngFor="let message of messages" class="message-container__message-item" [ngClass]="{'my-message': message.sender_id === currentUserID, 'other-message': message.sender_id !== currentUserID}">
      <p class="message-container__message-text">{{ message.contain }}</p>
    </article>
  </div>

  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="chat-container__message-form">
    <div class="chat-container__form-group">
      <div class="chat-container__input-with-button">
        <input type="text" class="chat-container__form-control" id="content" formControlName="content" placeholder="Write something...">
        <button type="submit" class="chat-container__btn-primary">Send</button>
      </div>
    </div>
  </form>
</section>
